// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$main-gray: #29252C;
$white: #F5EAEA;
$green-apple: #A7D129;
$gray-claro: #5b5656d5;
