<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <% @reservations.each do |reservation| %>
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title"><%="#{reservation.field.name}"%></h5>
          <p class="card-text"><%="#{reservation.field.description}"%></p>
          <%= link_to "Ver detalles de mi reserva", reservation_path(reservation), class: 'btn btn-dark'  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <%= link_to "Volver a todas las canchas", fields_path, class: 'btn btn-default' %>
</div>
