<br>
<div class="container">
  <h2>Mis reservaciones</h2>
    <% @reservations.each do |reservation| %>
        <div class="card-product">
        <div class="card-product-infos">
          <h2><%= link_to reservation.field.name, field_path(reservation.field.id) %></h2>
          <p><%= link_to "Tienes una reserva el #{localize reservation.date_time, format: "%d de %B %Y a las %H h"}", reservation_path(reservation)  %></p>
        </div>
      </div>
    <% end %>
  <%= link_to "Buscar", fields_path, class: 'btn btn-default' %>
</div>
