<h1>Mis reservaciones</h1>
<p> </p>

<ul class="list_reservations">
     <% @reservations.each do |reservation| %>
          <li>
            <%= link_to reservation.field.name, field_path(reservation.field.id) %>
            <%= link_to "Tienes una reserva para #{reservation.date_time}", reservation_path(reservation)  %>
          </li>
        <% end %>
</ul>

<%= link_to "volver", fields_path, class: 'btn btn-primary' %> %>
