<div class="container">
  <h2>Agrega una reservación</h2>
  <%= render 'form_reservations', field: @field, reservation: @reservation %>

  <br>
  <%= link_to 'Mis Reservaciones', reservations_path, class: 'btn btn-primary' %>
  <%= link_to 'Buscar', fields_path, class: 'btn btn-primary' %>
</div>
