.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
    :hover {
      opacity: 1;
    }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.botones-centrados {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

#boton_azul {
  margin-left: 10px;
}

.boton_principal {
  background-color: $gray-claro;
  border: 1px solid $green-apple;
  width: 150px;
}

.btn-default{
  background-color:#a7d129ea;
  border-color:  #a7d129;
  margin-right: 5px;
  color: rgb(10, 7, 48);
    &:hover {
      background-color:#5b5656a9;
      color: white;
    }
}

#btn-reserva {
  display: flex;
  justify-content: center;
}
