.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
.card-product{
    border-radius: 5px;
    overflow: hidden;
    height: 150px;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 15px rgba(49, 49, 49, 0.452);
    display: flex;
    align-items: center;
    // margin-bottom: 15px;

    img{
      height: 100%;
      width: 120px;
      object-fit: cover;
    }
    h2{
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
    p{
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }
    .card-infos{
      padding-left: 20px;
    }
 }

#card-reserva {
  box-shadow: 0 0 15px rgba(49, 49, 49, 0.452);
}
