// .footer{
//   width: 100%;
//   color: white;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: $gray-claro;
//   position: sticky;
//   // padding: 5px;
//   //  .p-home{

//   //  }
//    h4{
//      font-size: 20px;
//    }
// }
.footer {
  margin-top: 20px;
  background-color: #0000009c;
  color: white;
  text-align: center;
  padding: 15px;

   a {
    padding: 5px;
    font-size: 30px;
    color: $green-apple;
  }
  a i {
    color: $green-apple;

    &:hover {
      color: white;
    }
  }
}
