.navbar-lewagon {
  justify-content: space-between;
  background: $main-gray;
  border-bottom: 0.3px solid #beff9985;
    .navbar-collapse {
      flex-grow: 0;
    }
    .navbar-brand img {
      width: 40px;
    }
}
