<div class="container">
  <br>
  <br>

  <h2>Editar <%= @field.name %></h2>

  <%= render 'form_field', field: @field %>

  <br>
  <%#= link_to 'Buscar', fields_path, class: 'btn btn-primary' %>
</div>
