<div class="container">
  <br>
  <br>

  <h2>Agrega tu campo de futbol</h2>

  <%= render 'form_field', field: @field %>

  <br>
  <%= link_to 'Buscar', fields_path, class: 'btn btn-primary' %>
</div>
