<div class="container">
  <br>
  <div class="titulo col-4 row justify-content-center" style="margin: 0 auto">
    <h2>Agrega tu campo de fútbol</h2>
  </div>
    <%= render 'form_field', field: @field %>
</div>
